
# Applications

alias sonicpi='$(qjackctl &) && $(sonic-pi &)'


# file edits

alias vz='vim ~/.zshrc && . ~/.zshrc'
alias valiases='vim ~/.aliases && . ~/.aliases'
alias vimrc='vim ~/.vimrc'
alias vtmuxc='vim ~/.tmux.conf'

# cd shortcuts

alias cdso='cd ~/source'
alias cdwill='cd ~/source/wilvk'
alias cddoc='cd ~/Documents'
alias cddl='cd ~/Downloads'

# quick aliases

alias tmuxplug='~/.tmux/plugins/tundle/scripts/install_plugins.sh'

alias gs='git status'

alias vghost='vim ~/.config/ghostty/config'


